*{
    margin: 0;
}
.inicio{
    height: 70%;
    background-color: aliceblue;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}
@media screen and (min-width: 200px) and (max-width: 700px){
    .inicio{width: 100%;}
}
.meu_nome{
    font-family: 'Bonheur Royale', cursive;
    font-size: 82px;
    text-align: right;
    padding: 8%;
}
.image_1{
    width: 520px;
    height: auto;
    padding: 8%;
}
